:root {
  --button-color: #ffffff;
  --button-background: #4d5ae5;
  --button-background-hover: #404bbf;
  --background-color: #ffffff;
  --bg-gradient: rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7);
  --IRIS: rgba(77, 90, 229, 1);
  --OCEAN: #404bbf;
  --LIGHT-SLATE: #8e8f99;
}
p,
h1,
h2,
h3,
ul,
li,
a,
span,
button {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.flex {
  display: flex;
}
.header {
  display: flex;
  background-color: var(--background-color);
  min-width: 1158px;
  max-width: 1440px;
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
  align-items: center;
}
.header_nav {
  background-color: var(--background-color);
  margin-right: auto;
}

.header_logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header_logo_two {
  color: #2e2f42;
}
.header_logo_two:is(:hover, :focus) {
  color: #4d5ae5;
}
.header_list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.header_link {
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header_link:is(:hover, :focus) {
  color: #404bbf;
}
.contacts-list {
}
.contacts-items:not(:last-child) {
  margin-right: 40px;
}
.header_mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header_mail:is(:hover, :focus) {
  color: #404bbf;
}
.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
.adress {
  font-style: normal;
}
.header_mail,
.header_phone {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header_phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header_phone:is(:hover, :focus) {
  color: #404bbf;
}
/*------------------HEROSECTION------------------*/
.hero_section {
  box-sizing: border-box;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-min.jpg);
  background-size: cover;
  min-width: 1158px;
  padding: 188px 0;
}
.hero_section_tytle {
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero_btn {
  display: block;
  border: none;
  cursor: pointer;
  background: var(--button-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  /* WHITE */

  color: var(--button-color);
}
.hero_btn:is(:hover, :focus) {
  background-color: var(--button-background-hover);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/**----SECTION 2--------**/
.section-two {
  padding: 120px 0;
}
.section_two_tytle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-two-list {
  display: flex;
  gap: 24px;
}
.section-two-wrap {
  width: calc((100% - 24px * 3) / 4);
}
.section-two-wrap > a {
  display: flex;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.section_two_item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*------SECTION 3-------*/
.section-three {
  padding-bottom: 120px;
}
.section-three-list {
  gap: 24px;
}
.section_three_tytle {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
.section-three-item {
  width: calc((100% - 24px * 2) / 3);
}

/**-------SECTION 4---------**/
.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
  min-width: 1158px;
}
.section-four-list {
  display: flex;
  gap: 24px;
}
.section-four-link {
  width: calc((100% - 24px * 3) / 4);
  background-color: var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section-four-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.section-four-soc-item {
  height: 40px;
  width: 40px;
}
.section-four-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--IRIS);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-four-soc-link:is(:hover, :focus) {
  background-color: var(--OCEAN);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sect-four-icons {
  fill: #ffffff;
}
.section-four-wrapper {
  text-align: center;
  padding: 32px 0;
}
.section_four_tytle {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section_four_name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section_four_proffession {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/**-------SECTION CUSTOMERS--------**/
.customers {
}
.customers-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.customers-list {
  display: flex;
  gap: 24px;
  width: calc((100% - 24 * 5) / 6);
}
.customers-item {
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-icons {
  fill: var(--LIGHT-SLATE);
}
.customers-item:hover {
  border-color: var(--OCEAN);
}
.customers-icons:hover {
  fill: var(--OCEAN);
}
/**------FOOTER-------**/
.footer {
  background: #2e2f42;
  min-width: 1158px;
  padding: 100px 0;
}
.footer-logo-block {
  margin-right: 120px;
}
.footer_logo {
  display: block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer_logo_two {
  color: #f4f4fd;
}
.footer-soc-list {
  gap: 16px;
}
.footer_text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-icons-container > p {
  margin-bottom: 16px;
}
.foter-social-par {
  color: #ffffff;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--button-background);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.footer-soc-icons {
  fill: #ffffff;
}

/**------PORTFOLIO-----**/
/**------HERO-SECTION-----*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio_btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.portfolio_btn:is(:hover, :focus) {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #404bbf;
  color: #ffffff;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-list li {
  width: calc((100% - 2 * 24px) / 3);
}
.portfolio-list-item {
}
.portfolio-list-item:hover {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio_title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio_desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.social-item {
  width: 40px;
  height: 40px;
}
